body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(15, 19, 27);
}
.m5 {
  margin-right: 5px;
}
.whiteColor {
  color: white;
}
#form {
  border: 1px rgb(27, 29, 34) solid;
  border-radius: 10px;
  color: white;
  padding: 5px;
  font-size: 18px;
  margin: auto;
  background-color: rgb(27, 29, 34);
}

.input {
  text-align: center;
  margin-bottom: 2em;
}
.top-section {
  display: flex;
  justify-content: flex-start;
}
#profile {
  width: 250px;
  height: 250px;
  border: 2px solid #6a706e;
  border-radius: 50%;
  margin-left: 2px;
}
.img {
  display: flex;
  flex-direction: column;
  margin-right: 5em;
  margin-left: 1em;
  margin-bottom: 1.5em;
}
#github-link {
  margin: auto;
}

#bio {
  font-size: 18px;
  font-weight: bold;
}

a {
  color: white;
  display: flex;
  font-size: 17px;
}
.item {
  margin-bottom: 10px;
  width: 40%;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  border: 2px solid rgb(27, 29, 34);
  background-color: rgb(27, 29, 34);
  padding: 10px;
}
.language {
  display: inline;
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
  background-color: rgb(34, 39, 39);
  border-radius: 5px;
}
.languages-used {
  margin-top: 20px;
  margin-bottom: 10px;
}

#repos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media only screen and (max-width: 784px) {
  #repos {
    font-size: 12px;
  }
}
@media only screen and (max-width: 569px) {
  #github-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #top-section {
    flex-direction: column;
    text-align: center;
  }
  #profile {
    width: 150px;
    height: 150px;
  }
  #profileName {
    font-size: 18px;
  }
  .item {
    width: 100%;
  }
  #bio {
    font-size: 13px;

    font-size: 13px;
  }
  .language {
    font-size: 13px;
  }
  .item {
    font-size: 13px;
    margin: 25px;
  }
}
