* {
  font-family: "Poppins", sans-serif;
}
.top-section {
  display: flex;
  justify-content: flex-start;
}
#profile {
  width: 250px;
  height: 250px;
  border: 2px solid grey;
  border-radius: 50%;
  margin-left: 2px;
}
.img {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
#github-link {
  margin: auto;
  margin-top: 20px;
}

#bio {
  font-size: 18px;
  font-weight: bold;
}

a {
  color: black;
  font-size: 17px;
}

.language {
  display: inline;
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
  background-color: #0080ff9f;
}

#linkToRepo {
  margin-bottom: 24px;
}
#repos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item {
  margin-bottom: 10px;

  width: 40%;
  display: inline-flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 10px;
}

#form {
  border: 1px black solid;
  border-radius: 10px;
  padding: 5px;
  font-size: 18px;
  margin: auto;
}
.input {
  text-align: center;
}

@media only screen and (max-width: 784px) {
  #repos {
    font-size: 12px;
  }
}
@media only screen and (max-width: 569px) {
  #profile {
    width: 150px;
    height: 150px;
  }
  #profileName {
    font-size: 18px;
  }
  .item {
    width: 100%;
  }
  #bio {
    font-size: 13px;

    font-size: 13px;
  }
  .language {
    font-size: 13px;
  }
  .item {
    font-size: 13px;
    margin: 25px;
  }
}
